In [9]:
import pandas as pd
import os

# Path to your parquet files
data_dir = "../data/raw"

# List all parquet files
files = [f for f in os.listdir(data_dir) if f.endswith('.parquet')]
print("Available parquet files:", files)

# Load all three parquet files into a single DataFrame
dfs = [pd.read_parquet(os.path.join(data_dir, f)) for f in files]
df_all = pd.concat(dfs, ignore_index=True)

df_all = df_all.dropna(axis=1, how='all')

# Quick peek at data
print(df_all.shape)
df_all.head()

Available parquet files: ['flight_data_2025_4.parquet', 'flight_data_2025_5.parquet', 'flight_data_2025_6.parquet']
(1801173, 93)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,Tail_Number,...,Div2WheelsOff,Div2TailNum,Div3Airport,Div3AirportID,Div3AirportSeqID,Div3WheelsOn,Div3TotalGTime,Div3LongestGTime,Div3WheelsOff,Div3TailNum
0,2025,2,4,8,2,2025-04-08,DL,19790,DL,N870DN,...,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025,2,4,9,3,2025-04-09,DL,19790,DL,N822DN,...,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025,2,4,10,4,2025-04-10,DL,19790,DL,N823DN,...,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025,2,4,11,5,2025-04-11,DL,19790,DL,N865DN,...,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025,2,4,12,6,2025-04-12,DL,19790,DL,N355NW,...,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
for col in df_all.columns:
    sample_vals = df_all[col].dropna().unique()[:5]
    print(f"Column '{col}': sample values -> {sample_vals}")

Column 'Year': sample values -> [2025]
Column 'Quarter': sample values -> [2]
Column 'Month': sample values -> [4 5 6]
Column 'DayofMonth': sample values -> [ 8  9 10 11 12]
Column 'DayOfWeek': sample values -> [2 3 4 5 6]
Column 'FlightDate': sample values -> ['2025-04-08' '2025-04-09' '2025-04-10' '2025-04-11' '2025-04-12']
Column 'Reporting_Airline': sample values -> ['DL' 'F9' 'G4' 'HA' 'MQ']
Column 'DOT_ID_Reporting_Airline': sample values -> [19790 20436 20368 19690 20398]
Column 'IATA_CODE_Reporting_Airline': sample values -> ['DL' 'F9' 'G4' 'HA' 'MQ']
Column 'Tail_Number': sample values -> ['N870DN' 'N822DN' 'N823DN' 'N865DN' 'N355NW']
Column 'Flight_Number_Reporting_Airline': sample values -> [2658 2659 2660 2661 2663]
Column 'OriginAirportID': sample values -> [13487 10397 14307 11066 11292]
Column 'OriginAirportSeqID': sample values -> [1348702 1039707 1430706 1106606 1129202]
Column 'OriginCityMarketID': sample values -> [31650 30397 30721 31066 30325]
Column 'Origin': sample values -> ['MSP' 'ATL' 'PVD' 'CMH' 'DEN']
Column 'OriginCityName': sample values -> ['Minneapolis, MN' 'Atlanta, GA' 'Providence, RI' 'Columbus, OH'
 'Denver, CO']
Column 'OriginState': sample values -> ['MN' 'GA' 'RI' 'OH' 'CO']
Column 'OriginStateFips': sample values -> [27 13 44 39  8]
Column 'OriginStateName': sample values -> ['Minnesota' 'Georgia' 'Rhode Island' 'Ohio' 'Colorado']
Column 'OriginWac': sample values -> [63 34 15 44 82]
Column 'DestAirportID': sample values -> [14869 14307 10397 14730 15016]
Column 'DestAirportSeqID': sample values -> [1486903 1430706 1039707 1473004 1501606]
Column 'DestCityMarketID': sample values -> [34614 30721 30397 33044 31123]
Column 'Dest': sample values -> ['SLC' 'PVD' 'ATL' 'SDF' 'STL']
Column 'DestCityName': sample values -> ['Salt Lake City, UT' 'Providence, RI' 'Atlanta, GA' 'Louisville, KY'
 'St. Louis, MO']
Column 'DestState': sample values -> ['UT' 'RI' 'GA' 'KY' 'MO']
Column 'DestStateFips': sample values -> [49 44 13 21 29]
Column 'DestStateName': sample values -> ['Utah' 'Rhode Island' 'Georgia' 'Kentucky' 'Missouri']
Column 'DestWac': sample values -> [87 15 34 52 64]
Column 'CRSDepTime': sample values -> [1447 1459 1451 1450 1448]
Column 'DepTime': sample values -> [1439. 1441. 1446. 1445. 1456.]
Column 'DepDelay': sample values -> [-8. -6. -1. -2. -3.]
Column 'DepDelayMinutes': sample values -> [ 0.  2.  6.  4. 69.]
Column 'DepDel15': sample values -> [0. 1.]
Column 'DepartureDelayGroups': sample values -> [-1.  0.  4.  2.  1.]
Column 'DepTimeBlk': sample values -> ['1400-1459' '1500-1559' '1800-1859' '1900-1959' '2000-2059']
Column 'TaxiOut': sample values -> [14. 12. 16. 10. 13.]
Column 'WheelsOff': sample values -> [1453. 1502. 1455. 1509. 1456.]
Column 'WheelsOn': sample values -> [1626. 1632. 1623. 1620. 1646.]
Column 'TaxiIn': sample values -> [7. 5. 6. 4. 8.]
Column 'CRSArrTime': sample values -> [1640 1653 1645 1743 2133]
Column 'ArrTime': sample values -> [1633. 1637. 1630. 1627. 1652.]
Column 'ArrDelay': sample values -> [ -7.  -3. -10. -13.  -1.]
Column 'ArrDelayMinutes': sample values -> [ 0.  2.  7. 15.  3.]
Column 'ArrDel15': sample values -> [0. 1.]
Column 'ArrivalDelayGroups': sample values -> [-1.  0.  1. -2.  3.]
Column 'ArrTimeBlk': sample values -> ['1600-1659' '1700-1759' '2100-2159' '1900-1959' '0800-0859']
Column 'Cancelled': sample values -> [0. 1.]
Column 'CancellationCode': sample values -> ['B' 'A' 'C' 'D']
Column 'Diverted': sample values -> [0. 1.]
Column 'CRSElapsedTime': sample values -> [173. 174. 175. 172. 137.]
Column 'ActualElapsedTime': sample values -> [174. 176. 164. 162. 177.]
Column 'AirTime': sample values -> [153. 159. 141. 145. 157.]
Column 'Flights': sample values -> [1.]
Column 'Distance': sample values -> [991. 903. 447. 321. 391.]
Column 'DistanceGroup': sample values -> [4 2 3 5 1]
Column 'CarrierDelay': sample values -> [  0.   3. 128.   9.  33.]
Column 'WeatherDelay': sample values -> [ 0. 32. 48. 33. 40.]
Column 'NASDelay': sample values -> [15.  0. 12. 13.  9.]
Column 'SecurityDelay': sample values -> [ 0. 37. 36. 90. 34.]
Column 'LateAircraftDelay': sample values -> [  0.  47.  39.  44. 141.]
Column 'FirstDepTime': sample values -> [1905. 1817. 1001.  552. 1739.]
Column 'TotalAddGTime': sample values -> [20. 29. 51. 40. 16.]
Column 'LongestAddGTime': sample values -> [20. 29. 51. 40. 16.]
Column 'DivAirportLandings': sample values -> [0 1 9 2 3]
Column 'DivReachedDest': sample values -> [1. 0.]
Column 'DivActualElapsedTime': sample values -> [337. 414. 422. 303. 394.]
Column 'DivArrDelay': sample values -> [160. 619. 178. 280. 164.]
Column 'DivDistance': sample values -> [   0.  259.   36.  212. 1086.]
Column 'Div1Airport': sample values -> ['BNA' 'CAE' 'OMA' 'DTW' 'SAT']
Column 'Div1AirportID': sample values -> [10693. 10868. 13871. 11433. 14683.]
Column 'Div1AirportSeqID': sample values -> [1069302. 1086803. 1387102. 1143302. 1468305.]
Column 'Div1WheelsOn': sample values -> [2051. 1414. 1000. 1747. 1909.]
Column 'Div1TotalGTime': sample values -> [26. 51. 18. 27. 16.]
Column 'Div1LongestGTime': sample values -> [19. 43. 14. 15. 12.]
Column 'Div1WheelsOff': sample values -> [2212. 1724. 1122. 2202. 2020.]
Column 'Div1TailNum': sample values -> ['N338NW' 'N876DN' 'N527DE' 'N971AT' 'N141DU']
Column 'Div2Airport': sample values -> ['JAN' 'PIE' 'GRK' 'RSW' 'DFW']
Column 'Div2AirportID': sample values -> [12448. 14112. 11982. 14635. 11298.]
Column 'Div2AirportSeqID': sample values -> [1244807. 1411206. 1198202. 1463502. 1129806.]
Column 'Div2WheelsOn': sample values -> [ 836.  354. 1239. 1529.  304.]
Column 'Div2TotalGTime': sample values -> [14.  4. 62. 52. 25.]
Column 'Div2LongestGTime': sample values -> [11.  4. 44. 31. 17.]
Column 'Div2WheelsOff': sample values -> [1037. 1538.  840.  735.  917.]
Column 'Div2TailNum': sample values -> ['N866DN' 'N248NN' 'N324ES' 'N243NN' 'N310JZ']
Column 'Div3Airport': sample values -> ['LIT']
Column 'Div3AirportID': sample values -> [12992.]
Column 'Div3AirportSeqID': sample values -> [1299206.]
Column 'Div3WheelsOn': sample values -> [929.]
Column 'Div3TotalGTime': sample values -> [97.]
Column 'Div3LongestGTime': sample values -> [97.]
Column 'Div3WheelsOff': sample values -> [1106.]
Column 'Div3TailNum': sample values -> ['N305CL']

In [8]:
unique_values = df_all["DayofMonth"].dropna().unique()
print(f"All unique values in '{'DayofMonth'}':")
print(unique_values)

All unique values in 'DayofMonth':
[ 8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30  1
  2  3  4  6  7  5 31]